@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    color: #272727;
}

.header {
    background-color: #272727;
    position: relative; 
    border-bottom: 5px solid gray;
    margin-bottom: 100px;

}
img {
    max-width: 100%;
}
.container {
    width: 96%;
    margin: 0 auto;
    
}
.dots {
    text-align: center;
    position: absolute;
    background-color: #272727;
    padding: 10px;
    border-radius: 5px;
    left: 50%;
    top: 133px;
    transform: translate(-50%, -50%)
}
.myslides {
    display: none;
    position: relative;
}

.img {
    position: relative;
}
.fade {
    animation-name: fade;
    animation-duration: 5.5s;
}
@keyframes fade {
    from { width: 0%;}
    to { width: auto}
}

.contain:hover .dots {
    opacity:1;
}

.dot {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50%;
    display: inline-block;
    background-color: #272727;
    margin: 2px;
    transition: background-color 0.6s ease;
    cursor: pointer;
    margin-left: 5px;
}

.active, .dot:hover {
  background-color: rgb(182, 173, 173)
}
.tex {
    display: none;
}
.head_btn {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 10.5s;
}
@keyframes fade {
    from { opacity: .4}
    to { opacity: 1}
}
.transform {
    position: relative;
}
#nav {
    padding-top: 1px; 
    background-color: #ededed; 
}
.dro {
   visibility: hidden;
}
#dropdown-content a {
    color: white;
    position: abs;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {
    background-color: #1e90ff;
    width: 100%;
    color: white;
} 
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: white;      
}
#dropdown-content {
    background-color: black;
    position: absolute;
    z-index: 5;
    width: 100%; 
    border-top: 1px solid rgb(85, 83, 83);
    height: 550px;
    overflow: auto;
    display: none; 
    margin-top: -20px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.coli {
    margin-top: 30px;
}
.colii {
    margin-bottom: 50px;
}
.dot_align {

    display: flex;
    justify-content: center;
    padding: 10px;
}
.first {
    width: 85%;
    margin: 0 auto;
    
}
.btn {
    text-decoration: none;
    background-color: #56aed4;
    color: white;
    padding: 8px;
    border-radius: 10px;
}
.bet {
    text-decoration: none;
    background-color: #56aed4;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.bin {
    text-decoration: none;
    background-color: #ff9900;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.num {
    display: flex;
    align-items: center;
    border-bottom:3px  solid rgba(0, 0, 0, 0.19);
}
.nub {
    display: flex;
    align-items: center;
    
}
.lorem_btn {
    margin-bottom: 100px;
    margin-top: 20px;
}
.aside {
    background-image: url('sit.jpg');
    background-repeat: no-repeat;
    background-size: cover 100% 100%;
    background-position: center;
    padding: 20px;
    margin-bottom: 100px;
}
.colli {
    margin-top: 50px;
    position: relative;
    z-index: 7;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #e1e1e1;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 10px double rgba(243, 243, 243, 0.925);
}
.middle {
    position: relative;
    z-index: 7;
}
.aside:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.8;
    background-color: #e2e2e2;
}
.aside >h2 {
    text-align: center;
    position: relative;
}
.section >img {
    border-radius: 50%;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
}
.sag {
    text-decoration: none;
    border-radius: 50%;
   
}
.hro-img {
    width: 50px;
    text-align: center;
}
.footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.footer >h1 {
    text-align: center;
    position: relative;
}
span > i.fas-fa-caret-down {
    display: none;
}
.btns {
    text-decoration: none;
    background-color:  #272727;
    color: white;
    padding: 18px;
    border-radius: 10px;
    font-size: 25px;   
}
.btns:hover {
    color:white;
    background-color:  #56aed4;
}
.up {
    text-decoration: none;
    background-color:  #56aed4;
    color:white;
    padding: 18px;
    border-radius: 10px;
    font-size: 25px; 
}
.up:hover {
    color:white;
    font-size: 25px; 
    background-color:  #56aed4;
}
.ass >h1 {
    text-align: center;
    position: relative;
}
.ups {
    color: #56aed4;;
    padding-top: 28px;
    font-size: 70px; 
    position: relative;
    z-index: 7;

}
.color {
    position: relative;
}
.icon {
    transition: 0.6s;
    color: gray;
    font-size: 3em;
}

.icon:hover {
    transform: rotate(360deg);
    transform-origin: center inherit;
    color:  #56aed4;
}
a {
    color:  #56aed4;
}
.wrapp {
    margin-bottom: 100px;
}
 .wrapper {
    background-color: #f2f2f2;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
    position: relative;
    padding-right: -20px;   
}
 .all::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
} 
.item {
    background-color: #f2f2f2;
}
 .all li {
    position: relative;
    top: 150px;
    color: #272727 !important;
    background-color: #272727 !important;
}
.in {
    border: 1px solid rgb(200, 200, 200);
    z-index: -1;
    position: relative;
    top:-48px
}
.fb, .pin, .twi, .dri, .li, .goo {
    color: #1e2022;
    font-size: 20px;
    margin-left: 5px;
}
.fb:hover {
    color: #3b5998; 
    /* transition: color 1s ease-in-out;     */
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.pin:hover {
    color: red;
    transition: color 0.9s ease-in-out;
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.twi:hover {
    color: #56aed4;
    transition: color 1s ease-in-out;
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.dri:hover {
    color: #ea4c89;
    transition: color 1s ease-in-out;
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.li:hover {
    color: #56aed4;
    transition: color 1s ease-in-out;
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.goo:hover {
    color:red;
    transition: color 1s ease-in-out;
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.fb:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.pin:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.twi:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.dri:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.li:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.goo:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.icons {
    transition: 0.6s;
    
}
.head:hover .icons {
    transform: rotate(360deg);
    transform-origin: center inherit;
    cursor: pointer;
}
.icons:hover:after {
    transform: scale(1);
    opacity: 1;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.19);
}
.icons:hover {
    transform: rotate(360deg);
    transform-origin: center inherit;
}
.icons:nth-of-type(1) {
    border-color: sandybrown;
}
.lorem_line {
    border-bottom: 5px solid #56aed4;
    width: 20%;  
    position: relative; 
    z-index: -1px;
    top: -12px;
}
.tex h1 {
    margin-top: -80px;
}
.pip {
    margin-top: -40px;
}
 @media (min-width:1000px) {
      .change_img {
         height: 400;
     } 
     .middle {
         color: #272727;
     }
     .main {
         display: grid;
         grid-template-columns: 2fr 2fr 2fr;
         grid-template-rows: auto auto auto;
         gap: 40px;   
     }
     .aside {
        display: grid;
        grid-template-columns: 1fr 3fr;  
     }
     .section {
        display: grid;
        grid-template-columns: auto auto; 
        gap: 40px;
    
     }
     .right {
         display: grid;
         grid-template-columns: .5fr .5fr .5fr .5fr;
         column-gap: 40px;
     }
     .diff {
        display: flex;
        align-items: flex-start;
        
     }
     div > img {
         height: auto;
     }
     
     .transform {
         display: flex;
         justify-content: space-between;
         padding: 20px;

     }
     .coli {
         margin-top: -30px;
     }
    .dropbtn {
        display: none;
    }
    nav:after {
        content: "";
        clear: both;
        display: table;
    } 
    nav ul {
        margin-right: 40px;
        position: relative;
        
    }

    nav ul li {
        float: left;
        margin: 0 5px;
        display: inline-block;
            
    }
 
    nav ul li a:hover {
        border-radius: 5px;
        transition: background-color 50s ease-in-out;
    }
    #dropdown-content li:hover {
            color: teal;
    }
    nav ul ul {
        position: absolute;
        top: 200px;
        visibility: hidden;
        opacity: .4s;
       
    }
    nav ul li:hover > ul {
        top: 250px;
        visibility: visible;
    }
    nav ul ul li {
        position: relative;
        margin: 0px;
        width: 200px;
        float: none;
        display: list-item;
        border-bottom: 1px solid black;
        color: red;
        background-color:   rgba(000, 000, 000, 0.6);
    }
    nav ul ul ul li{
        position: relative;
    }
    .dropy li:hover{
        background-color: #56aed4;
        color: white;
    }
    .color {
        color: white;
    }
    .dash {
        display: none;
    }
    nav ul li a {
        line-height: 400px;
        font-size: 14px;
        padding-top: 52px;
        padding-right: 20px;
        transition: background-color .9s ease-in-out;
    }
    nav ul ul li a {
        line-height: 40px;
    }
    .sec {
        top: 0;
        left: 100%;
        margin-top: -278px;
    }
    #dropdown-content a {
        color: white;
        display: inline;
        
    }
    #dropdown-content a:hover {
        padding-top: 52px;
        color: white;
       
    }
    #dropdown-content {
        display: flex;
        height: 0px;
        width: auto;
        right: -70px;
        margin-top: -152px;
        overflow: visible;
        position: absolute;
        border: none;
        font-size: 14px;
    }
    .nav-links > a {
        border-top:  5px solid #56aed4;
        position: relative;
    }
    .nav-link:hover > a {
        border-top:  5px solid #56aed4;
        position: relative;
        z-index: 2;
    }
  
    .stelf {
        display: inline-block;
    }
    .dash {
        display: none;
    }
    #dropdown-content > li{
        position: relative;
    }
    .dropdownlink {
        position: relative;
    }
    .second {
        top: 0%;
        left: 100%;
        margin-top:-250px
    } 
    .colii {
        margin-top: -40px;
    }
    .tex {
        text-align: center;
        font-size: 39px;
        font-weight: bold;
        left: 50%;
        top: 133px;
        transform: translate(-50%, -50%);
        display: inline-block;
        color: #fff;
        position: absolute;
        transition: 0.4s ease;
        opacity: 0.5;
     }
     .tex:hover {
         opacity: 1;
     }
     .myslides .tex h1 {
         animation: cap .5s ease forwards;
         animation-delay: 1s;
         opacity: 0;
     }
     .myslides .tex p {
        animation: cap .5s ease forwards;
        animation-delay: 1.2s;
        opacity: 0;
    }
    .myslides .head_btn  {
        animation: cap .5s ease forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }
    @keyframes cap {
        0% {
            opacity: 0; transform: translateX(200px);
        }
        100% {
            opacity: 1;transform: translateX(0px)
        }    
    }
    .head_btn {
        display: inline-block;
        text-align: center;
        position: relative;
        top: -90px;
        left: 47%;
        transform: translate(-50%, -50%);
    }
    .dropbtn {
        background-color: #272727;
    }
    #dropdown-content {
        background-color: #272727;
    }
    li:hover .active {
        background-color: gray;
    }
    li a:hover:not(.active) {
        background-color: yellow;
    }
    .dots {
        top: 70%;
    }
    .sep {
        display: flex;
        gap: 20px;
    }

 }
 @media (min-width:1100px){
    .dots {
        top: 74%;
    }
 }
 @media (min-width:1200px){
    .dots {
        top: 76%;
    }
 }
